page-documents {

    ion-card { border-top: 1px solid #e8e8e8 !important; border-bottom: 1px solid #e8e8e8 !important; margin-bottom:8px; }

    background-color: #e8e8e8 !important;                                                                                                                                                                                                                                                                          

    .listheader{
        font-size:20px;
        color:black; 
        margin-top:20px;
        background-color:#4282c1;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }

    h1{
        font-size: 30px;
        margin-top:20px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }

    ion-list-header{
        font-size:16px;
        color:black;   
        font-family: "Roboto", "Helvetica Neue", sans-serif;     
    }

    ion-title{
        font-size:12px;
        color:yellow;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }

    ion-button{
        margin-top:20px;
    }       

    ion-list{
        margin-top:15px;
        margin-bottom:30px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
    
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 15px;
    }

a{
    text-align: center;
    margin-top: 30px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}
}



