<ion-header>
  <ion-navbar primary>   
    <ion-buttons left style='margin-left: 0px;margin-right: 0px;'>
        <button ion-button menuToggle start style='margin-left:6px'>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <span style="font-size:16px;color:white;">{{this.userdocumentData.SystemProjectName}}</span>  
  </ion-navbar>

  <div>
    <ion-searchbar
      #mySearchbar 
      name = "searchBar" 
      value= "" 
      showCancelButton = "always" 
      placeholder="Document Search..."
      (ionInput)="searchByKeyword($event)" 
      (ionCancel)="onSearchCancel($event)" 
      (ionFocus)="checkFocus($event)"
      (ionBlur)="checkBlur($event)"
      [debounce]="700"
      class="android">
    </ion-searchbar>
  </div>

</ion-header>

<!--
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let project of userProjects" col-12 col-md-6 col-lg-4 col-xl-3 style="padding-top: 0px;padding-bottom: 0px;">
        <ion-list  style="margin-bottom: 0px;">  
          <ion-card style=" padding-bottom: 0px; margin-bottom: 0px;margin-top: 1px;">
            <ion-item style="padding-left:3px;" (click)="saveProject(project.ProjectName,project.ProjectID,project.SystemClientID);">           
              <ion-thumbnail *ngIf="project.Thumbnail != null" item-left>
              -->


<ion-content>
 <div id="maindiv">
    <div *ngIf="this.hasdocs; else nodocs" >
      <ion-grid>
        <ion-row>
          <ion-col  col-12 col-md-6 col-lg-4 col-xl-3 style="margin-top:15px;padding-top: 0px;padding-bottom: 0px;margin-left:0px;margin-right:0px;height: 80px;">
            <ion-list >
              <ion-item *ngFor="let document of userdocuments" style="padding-left: 0px;padding-right: 0px;height:100px;">                
                <ion-card style="margin:0px;padding:0px;width:100%;height:100px;" >                     
                  <ion-item padding style="padding:0px;margin:0px;width:100%;height:100px;">
                
                    <ion-thumbnail item-left no-padding style="margin-left:5px;margin-top:20px;">
                      <img 
                        src="{{document.PhotoTiny}}" tyle="border: 1px solid #000;position:relative;top:-10px;height:70px;width:100px;border: 2px solid #000;" 
                        (click)= "openDocument(userdocumentData.SystemClientID,userdocumentData.SystemProjectID,document.DocumentID,document.FileExtension)"
                        style="border: 1px solid #000;position:relative;top:-10px;height:70px;width:100px;border: 1px solid #555555;"
                        />
                    </ion-thumbnail>          
                    
                    <div style="padding:0px;margin:0px;width:100%;">
                      <h4 style="line-height: 1.1;"><b><span [innerHtml]="document.FolderName"></span></b></h4>
                      <h4 style="line-height: 1.1;"><span [innerHtml]="document.DNREV"></span></h4>
                      <h4 style="line-height: 1.1;"><span style="top:-3px;" [innerHtml]="document.Title"></span></h4>
                    </div> 

                    <div style="position:relative;top:0px;padding:0px;margin:0px;width:100%;">
                                            
                        <ion-icon style = "font-size: 13px;padding-top: 0px;" name="refresh-circle"  class="flex-right hilite1" (click)="openDocumentInfo(document.PhotoTiny,document.DocumentID,document.DocumentNumber)"></ion-icon>
                        <label class="bodytext" color="primary" (click)="openDocumentInfo(document.PhotoTiny,document.DocumentID,document.DocumentNumber,dsearch)">Details</label>&nbsp;&nbsp;
                        
                        <ion-icon style = "font-size: 13px;padding-top: 0px;" name="information-circle"  class="flex-right hilite2" (click)="openDocumentAudit(document.PhotoTiny,document.DocumentID,document.DocumentNumber,document.SystemClientID)"></ion-icon>
                        <label class="bodytext" color="primary" (click)="openDocumentAudit(document.PhotoTiny,document.DocumentID,document.DocumentNumber,document.SystemClientID)">Audit</label>&nbsp;&nbsp;
                        
                        <ion-icon style = "font-size: 13px;padding-top: 8px;" name="mail" color="secondary" class="flex-right" (click)="openDocumentSend(document.PhotoTiny,document.DocumentID,document.DocumentNumber,document.SystemClientID)"></ion-icon>
                        <label class="bodytext" color="primary" (click)="openDocumentSend(document.PhotoTiny,document.DocumentID,document.DocumentNumber,document.SystemClientID)">Send</label>
                      
                    </div>

                  </ion-item>          
                </ion-card>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ng-template #nodocs>
    <div>
          <div style="font-family:arial;font-size: 20px;text-align: center;"><br>No Documents</div>
    </div>
  </ng-template>

</ion-content>