page-documents {

ion-item {
   border-top: none;
   border-bottom: none;
}

ion-card { border-top: 3px solid #322171; border-bottom: 0px solid #e8e8e8; padding-bottom: 15px;  }

//ion-list {height:70px;}



page-documents .label-md {
    margin: 0px 3.5px 3px 0;
  }

  .label-md {
    margin: 0px 3.5px 3px 0;
}

.item-md.item-block .item-inner {
    padding-right: 3.5px;
    border-bottom: 1px solid #ffffff;
}

.searchbar-input {background-color: #ffffff;}

    .bodytext {
        font-size:12px;
        color:black;
    }
    .cardheadertext {
        font-size:16px;
        color:black;
    }    
    .headertext {
        font-size:14px;
        color:black;
    }
    h1{
        font-size: 30px;
        margin-top:20px
    }
    ion-title{
        font-size:12px;
        color:yellow;
    }
    ion-card{
        margin-top:75px;
    } 
    ion-button{
        margin-top:20px;
    }       
    ion-list{
        margin-top:20px;
        margin-bottom:30px;
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 15px;
    }
    .hilite{
        background-color: yellow;
    }
    .hilite1{
        color: rgb(248, 96, 8);
        background-color:white;
    }
    .hilite2{
        color:  blue;
        background-color: white;
    }
    a{
        text-align: center;
        margin-top: 30px;
    }
    .flex-right {
        justify-content: flex-end;
    }
    .masters {
        background-color: gray;
    }

}



