page-inspectionitems {

    ion-label {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-right: 0px !important;
    }
    ion-row {        
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-right: 0px !important;
    }

    ion-grid {        
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-right: 0px !important;
    }

    ion-label {
        font-size: 15px;
    }

    ion-select.myCustomSelect{
        width: 100%;
        max-width: 100%;
      }

    div.select-text{
        padding-left: 25px;
    }
}
        