<ion-header>
  <ion-toolbar>   
    <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>    
    <span style="font-size:16px;color:white;">{{selectedProjectName}} Email: 
      <span style="font-size:12px;color:white;padding-left:5px;">{{docno1}}</span>
    </span>
    <ion-buttons end>
      <button ion-button style="font-size:24px;" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="about">
  <ion-list>
     <ion-item>
       <ion-label class="mylabel" style="width:20%">Select Group</ion-label>
       <ion-select class="myCustomSelect" (ionChange)="setUserType(projectGroup)" [(ngModel)]="projectGroup" name="group"  style="text-align:left;" >
          <ion-option class="myCustomSelect" [value] = "Users">Users</ion-option>
          <ion-option  *ngFor="let projectGroup of projectGroups" [value] = "projectGroup">{{projectGroup.GroupName}}</ion-option>
       </ion-select>
     </ion-item>

    <ion-item>
      <ion-label class="mylabel" style="width:20%">To</ion-label>
      <ion-select  class="myCustomSelect" [(ngModel)]="docSystemData.to" multiple="true" name="to" style="text-align:left;" >
        <ion-option    *ngFor="let contact of groupContacts" [value] = "contact.Email">{{contact.PFirstName}} {{contact.PLastName}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="mylabel" style="width:20%">Subject</ion-label>
      <ion-input class="mytext" style="width:80%" type="text"  [(ngModel)]="docSystemData.subject" name="subject" value="{{this.docSystemData.subject}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="mylabel" style="width:20%">Text</ion-label>
      <ion-textarea class="mytext" style="width:80%" [(ngModel)]="docSystemData.message" name="message"></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-header>
                <img [src]="docimg" style="width:280px;height:200px;padding:5px;border:1px;margin:5px;"/>
            </ion-card-header>

        </ion-card>
    </ion-item>

  </ion-list>

  <button ion-button full (click)="sendEmail()">Send Email</button>

</ion-content>
