page-about {

        .myCustomSelect{
          max-width: 100% !important;
          font-size: 13px;
        } 

        .mylabel{
            font-size: 12px;
        }

        .mytext{
            font-size: 13px;
        }

        background: #fff;
        h1{
            font-size: 30px;
            margin-top:20px
        }

        ion-card{
            margin-top:75px;
        } 
        ion-button{
            margin-top:20px;
        }       
        ion-list{
            margin-top:20px;
            margin-bottom:30px;
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 15px;
        }
    
    a{
        text-align: center;
        margin-top: 30px;
    }
}
