<ion-header> 
    <ion-navbar primary>   
      <ion-buttons left>
          <button ion-button menuToggle icon-only>
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
      <span style="font-size:16px;color:white;padding-left:15px;">{{selectedProjectName}}</span> 
      <ion-buttons right>
        <button ion-button  color="light" type="button" item-right (click)="openLocationQRCode()"> 
          <ion-icon name="qr-scanner"> </ion-icon> 
        </button>  
        <button ion-button  strong color="light" type="button" item-right (click)="newSnag('new')"> 
          <ion-icon strong name="add"> </ion-icon> 
        </button>  
        <!--<button ion-button icon-only (click)="newSnag('new')">
              Add
          </button>-->
      </ion-buttons>
  </ion-navbar>
  <ion-searchbar
    #myDefectsSearchbar 
    name = "defectsSearchBar" 
    id = "defectsSearchBar"  
    value= "" 
    placeholder="Defect Search..." 
    (ionInput)="searchDefectsByKeyword($event)" 
    [debounce]="500" 
    class="android" 
    style = "height:15px;width:100%;background-color:white;color:black;padding-right: 0px;padding-left: 0px;" >
</ion-searchbar>
<div padding>   
  <ion-segment color="primary"  [(ngModel)]="defectslist" (ionChange)="segmentChanged(defectslist)">
    <ion-segment-button selected value="all">
      Issued
    </ion-segment-button>
    <ion-segment-button value="new">
      Scheduled
    </ion-segment-button>
    <ion-segment-button value="open">
      Reinspect
    </ion-segment-button>
  </ion-segment>
</div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let defect of defects" col-12 col-md-6 col-lg-4 col-xl-3 style="padding-top: 0px;padding-bottom: 0px;">
       
        <ion-list style="margin: 0px; padding-left:3px;padding-right:3px;">
        <ion-card>
          <ion-item (click)="openSnag(defect.SytemOrderNumber,defect.OrderStatus)" style="padding-left:3px;">            
            <ion-thumbnail item-left  style="padding-left:3px;padding-right: 6px;width: 42px !Important;height: 50px !Important;margin-top: 10px;margin-bottom: 0px;">
              <img src="assets/imgs/defect.jpg" style="width:50px;height:42px;"/>
            </ion-thumbnail> 
            <h3><b>{{defect.OrderReference}}</b></h3>
            <span *ngIf="defect.statustext"><h3>Status:&nbsp;{{defect.statustext}}</h3></span>
            <span *ngIf="defect.name"><h3>Location:&nbsp;{{defect.name}}</h3></span>
            <h3>Subject:&nbsp;{{defect.OrderSubject}}</h3>
            <h3  text-wrap>Detail:&nbsp;:&nbsp;{{defect.SpecialInstructions}}</h3>            
            <h3  text-wrap>              
              <span *ngIf="defect.DateIsssued">Issued:&nbsp;{{defect.DateIsssued  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;</span>
              <span *ngIf="defect.DeliverBy">Required By:&nbsp;{{defect.DeliverBy  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;</span>
              <span *ngIf="defect.ProposedDate">Scheduled:&nbsp;{{defect.ProposedDate  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;</span>
            </h3>            
          </ion-item>
          </ion-card>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  
<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>