<ion-header>
  <ion-navbar>       
    <ion-buttons left style='margin-left: 0px;margin-right: 0px;'>
        <button ion-button menuToggle start style='margin-left:6px'>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <span style="font-size:16px;color:white;">{{selectedProjectName}}</span>    
    
    <ion-buttons [hidden]="showDefects != 1" right>
        <button ion-button  color="light" type="button" item-right style="font-size:24px;" (click)="scanQRCode()"> 
         <ion-icon name="qr-scanner"> </ion-icon>
        </button>  
        &nbsp;
        <button [hidden] = "createdefect != 1"  ion-button  color="light" type="button" item-right style="font-size:30px;" (click)="newSnag('new')"> 
         <ion-icon strong name="add"> </ion-icon>
        </button>  
        &nbsp;
    </ion-buttons>
  </ion-navbar>   
    
  <div [hidden]="showDefects != 1" > 
    <ion-searchbar
      #myDefectsSearchbar 
      name = "defectsSearchBar" 
      value= "" 
      placeholder="Defect Search..." 
      (ionInput)="searchDefectsByKeyword($event)" 
      [debounce]="500" 
      class="android"  >
    </ion-searchbar> 
  </div> 

  <div [hidden]="showDefects != 1" style='padding: 10px;'>   
    <ion-segment color="primary"  mode='ios' [(ngModel)]="defectslist" (ionChange)="segmentChanged(defectslist)">
      <ion-segment-button selected value="all">
        Issued
      </ion-segment-button>
      <ion-segment-button value="new">
        Fix Scheduled
      </ion-segment-button>
      <ion-segment-button value="open">
        Fixed Re-inspect
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row [hidden]="showDefects != 1" > 
      <ion-col [hidden]= "showDefects != 1" *ngFor="let defect of defects" col-12 col-md-6 col-lg-4 col-xl-3 style="padding-top: 0px;padding-bottom: 0px;">
       
        <ion-list style="margin: 0px; padding-left:3px;padding-right:3px;">
         <ion-card style="padding-bottom: 0px; margin-bottom: 0px;margin-top: 1px;" > 
 
          <ion-item (click)="openSnag(defect.SytemOrderNumber,defect.OrderStatus,defect.name)" style="padding-left:3px;" >            
            
            <ion-thumbnail item-left  style="padding-left:3px;padding-right: 6px;width: 100px !Important;height: 71px !Important;margin-top: 10px;margin-bottom: 0px;">
              <img [src]="image+defect.OrderId+'.jpg'" border="1" style="width:100px;height:71px;border-color:black;border:2px;" imageViewer/>
            </ion-thumbnail> 
  <!--          <img src="{{'data:image/jpeg;base64,' +  this.hexToBase64(defect.LocationImage)}}" border="1" style="width:100px;height:71px;border-color:black;border:2px;" imageViewer/>-->
            <div id="defectdetails">
              <b>{{defect.OrderReference}}</b><br>
              <span *ngIf="defect.statustext">{{defect.statustext}}<br></span>
              <span *ngIf="defect.name">{{defect.name}}<br></span>
              {{defect.OrderSubject}}<br>
              <span text-wrap>{{defect.SpecialInstructions}}<br></span>           
              <span  text-wrap>              
                <span *ngIf="defect.DateIsssued">Issued:&nbsp;{{defect.DateIsssued  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span *ngIf="defect.ProposedDate">Scheduled:&nbsp;{{defect.ProposedDate  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span *ngIf="defect.DeliverBy">Required:&nbsp;{{defect.DeliverBy  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span  *ngIf="defect.date1 < 0"  class="defectlate"><ion-icon name="alert" style="position:relative;top:3px;"></ion-icon></span>
              </span>   
            </div>     

          </ion-item>
         </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  
<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>