page-defects {
  background: #fff;
  .listheader{
      font-size:20px;
      color:black; 
      margin-top:20px;
      background-color:#4282c1;
    }

    .defectlate   { 
        color:red;
        font-size:18px;
    }

    .bodytext {
        font-size:10px;
        color:black;
    }

  ion-card { border-top: 2px solid #282e62; border-bottom: 0px solid #ffffff  }

  h1{
      font-size: 30px;
      margin-top:20px
  }
  ion-list-header{
      font-size:12px;
      color:black;        
  }
  ion-title{
      font-size:12px;
      color:yellow;
  }
  ion-card{
      margin-top:75px;
  } 
  ion-button{
      margin-top:20px;
  }       
  ion-list{
      margin-top:15px;
      margin-bottom:30px;
	}
	
  .marginTop{
      margin-top:150px;
	}
	
  .logo{
      height: 15px;
  }

	a{
		text-align: center;
		margin-top: 30px;
	}

	h2{
		font-size: 12px;
	}

	#defectdetails{
		font-size:12px;
	}

    .notsent{
        color:white;
        background-color: rgb(20, 55, 209);
        font-weight: bold;
    }    
    .new{
        color:black;
        background-color: #66C1E0;
        font-weight: bold;
    }
    .fix{
        color:black;
        background-color: #FFCC00;
        font-weight: bold;
    }
    .fixed{
        color:white;
        background-color: #663399;
        font-weight: bold;
    }
    .inspect{
        color:black;
        background-color: rgb(250, 184, 228);
        font-weight: bold;
    }
    .inspected{
        color:black;
        background-color: rgb(250, 184, 228);
        font-weight: bold;
    }
    .pass{
        color:black;
        background-color: #66CC66;
        font-weight: bold;
    }
    .fail{
        color:white;
        background-color: #FF0000;
        font-weight: bold;
    }

}
