page-login {
    #login{

        background: #fff;
        background-image: url("../assets/imgs/background.jpg");
        h1{
            font-size: 25px;
            margin-top:20px
        }
        ion-card{
            margin-top:75px;
        } 
        ion-button{
            margin-top:20px;
        }       
        ion-list{
            margin-top:20px;
            margin-bottom:30px;
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 30px;
        }
        .navbarLogo{
            height: 20px;
        }
    }
    a{
        text-align: center;
        margin-top: 30px;
    }
}