<ion-header>
  <ion-toolbar>   
    <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>    
    <span style="font-size:16px;color:white;" >Defects Summary </span>
    <ion-buttons end>
      <button ion-button style="font-size:24px;" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
  <ion-grid>
    <ion-row [hidden]="showDefects != 1" > 
      <ion-col [hidden]= "showDefects != 1" *ngFor="let defect of defects" col-12 col-md-6 col-lg-4 col-xl-3 style="padding-top: 0px;padding-bottom: 0px;">
       
        <ion-list style="margin: 0px; padding-left:3px;padding-right:3px;">
         <ion-card style="padding-bottom: 0px; margin-bottom: 0px;margin-top: 1px;" > 
 
          <ion-item  style="padding-left:3px;" >            
            
            <ion-thumbnail item-left  style="padding-left:3px;padding-right: 6px;width: 100px !Important;height: 71px !Important;margin-top: 0px;margin-bottom: 0px;">
              <img [src]="image+defect.OrderId+'.jpg'" border="1" style="width:100px;height:71px;border-color:black;border:2px;" imageViewer/>
            </ion-thumbnail> 
  <!--          
    (click)="openSnag(defect.SytemOrderNumber,defect.OrderStatus,defect.name)"
    <img src="{{'data:image/jpeg;base64,' +  this.hexToBase64(defect.LocationImage)}}" border="1" style="width:100px;height:71px;border-color:black;border:2px;" imageViewer/>
  -->
            <div id="defectdetails">
              <span *ngIf="defect.OrderStatus == '50'" style="color:blue;"><b>Status:&nbsp;Issued</b></span>
              <span *ngIf="defect.OrderStatus == '51'" style="color:blue;"><b>Status:&nbsp;Fix Scheduled</b></span>
              <span *ngIf="defect.OrderStatus == '52'" style="color:blue;"><b>Status:&nbsp;Re-Inspect</b></span>
              <br>
              <b>{{defect.OrderReference}}</b><br>
              {{defect.OrderSubject}}<br>           
              <span  text-wrap>              
                <span *ngIf="defect.DateIsssued">Issued:&nbsp;{{defect.DateIsssued  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span *ngIf="defect.ProposedDate">Scheduled:&nbsp;{{defect.ProposedDate  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span *ngIf="defect.DeliverBy">Required:&nbsp;{{defect.DeliverBy  | date : 'dd MMM yyyy' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span *ngIf="defect.oklate > 0" style="color:red;" ><ion-icon name="alert" style="font-size:16px;position:relative;top:3px;color:red;"></ion-icon><br>Resolution is {{defect.oklate}} days late</span>
                <span *ngIf="defect.oklate < 0" style="color:green;" ><br>Resolution required in {{defect.oklate}} days.</span>
                <span *ngIf="defect.oklate == 0" style="color:green;" ><br>Resolution required today.</span>
              </span>   
            </div>     

          </ion-item>
         </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  
<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>