page-contact {
    background: #fff;
    font-family: "Roboto", "Helvetica Neue", sans-serif;

    .listheader{
        font-size:20px;
        color:black; 
        margin-top:20px;
        background-color:#4282c1;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
 
    
  ion-card { border-top: 2px solid #282e62; border-bottom: 0px solid #e8e8e8  }

    h1{
        font-size: 30px;
        margin-top:20px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
    ion-list-header{
        font-size:16px;
        color:black;   
        font-family: "Roboto", "Helvetica Neue", sans-serif;     
    }
    ion-title{
        font-size:12px;
        color:yellow;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
    ion-card{
        margin-top:75px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    } 
    ion-button{
        margin-top:20px;
    }       
    ion-list{
        margin-top:15px;
        margin-bottom:30px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 15px;
    }

a{
    text-align: center;
    margin-top: 30px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}
}
