<ion-header>

  <ion-navbar>
    
    <button ion-button menuToggle>
      <img [src]="this.avatardata" class="item item-avatar" style="position:relative;top:-2px;height:40px;width:40px;border:0px;"/>
      <!--<ion-icon name="contact" style="font-size:30px;padding-left:15px;color:white;"></ion-icon>-->
    </button>
        
    <span style="font-size:20px;color:white;padding-left:15px;">{{userPostData.ProjectName}}</span>

   <!-- <button ion-button end> 
      <img [src]="this.avatardata" class="item item-avatar" />
    </button> -->


  </ion-navbar>

</ion-header>
 
<ion-content padding id="home">

  <ion-grid  style="background-color: gray;">

    <ion-row>

      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>

        <ion-card>      

            <ion-card-content>
            
              <div class="box green">
                <b><span  style="text-align:center;padding:4px;">Recent Documents Summary</span></b>
                <ion-list  *ngFor="let item of dataSet" >
                  <ion-item>
                    <table style="width:100%;">
                        <tr>                
                          <td style="text-align:center;"><h3>24 Hours</h3></td>
                          <td style="text-align:center;"><h3>7 Days</h3></td>
                          <td style="text-align:center;"><h3>30 Days</h3></td>
                        </tr>
                        <tr>                  
                          <td style="text-align:center;"><h3><span (click)="openDocumentSummary(1)" >{{item.Last24Hours}}</span></h3></td>
                          <td style="text-align:center;"><h3><span (click)="openDocumentSummary(7)" >{{item.Last7Days}}</span></h3></td>
                          <td style="text-align:center;"><h3><span (click)="openDocumentSummary(30)" >{{item.Last30Days}}</span></h3></td>
                        </tr>
                      </table>
                    </ion-item>
                </ion-list> 
              </div>

            </ion-card-content>

        </ion-card>

      </ion-col>



      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>  

        <ion-card>      

            <ion-card-content>

              <div class="box yellow">
                  <b><span  style="text-align:center;padding:4px;">Approvals Summary</span></b>
                <ion-list  *ngFor="let item of dataSet1" >
                    <ion-item>
                      <table style="width:100%;">
                        <tr>
                          <td style="text-align:left;" colspan="3"><h3><b><u>{{item.Process}}</u></b></h3></td>
                        </tr>
                        <tr>
                          <td style="text-align:center;"><h3>Current</h3></td>
                          <td style="text-align:center;"><h3>Due</h3></td>
                          <td style="text-align:center;"><h3>OverDue</h3></td>
                        </tr>
                        <tr>
                          <td style="text-align:center;"><h3>{{item.Intime}}</h3></td>
                          <td style="text-align:center;"><h3>{{item.SoonDue}}</h3></td>
                          <td style="text-align:center;"><h3>{{item.OverDue}}</h3></td>
                        </tr>
                      </table>
                    </ion-item>
                </ion-list>
              </div>

            </ion-card-content>

        </ion-card>

      </ion-col>




      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>  

        <ion-card>      

            <ion-card-content>

              <div class="box blue">
              <b><span  style="text-align:center;padding:4px;">Request For Information Summary</span></b>
              <ion-list  *ngFor="let item of dataSet2" >
                  <ion-item>
                    <table style="width:100%;">
                      <tr>
                        <td style="text-align:left;" colspan="4"><h3><b><u>{{item.Process}}</u></b></h3></td>
                      </tr>
                      <tr>  
                        <td style="text-align:center;"><h3>New</h3></td>                  
                        <td style="text-align:center;"><h3>In Process</h3></td>
                        <td style="text-align:center;"><h3>Due</h3></td>
                        <td style="text-align:center;"><h3>OverDue</h3></td>
                      </tr>
                      <tr>                      
                        <td style="text-align:center;"><h3>{{item.New}}</h3></td>
                        <td style="text-align:center;"><h3>{{item.Intime}}</h3></td>
                        <td style="text-align:center;"><h3>{{item.SoonDue}}</h3></td>
                        <td style="text-align:center;"><h3>{{item.OverDue}}</h3></td>
                      </tr>
                    </table>
                  </ion-item>
              </ion-list> 
              </div>


            </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid  style="background-color: gray;">

    <ion-row>

      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>

          <ion-card padding> 

            <ion-card-title>
                Southampton Big Brewery
            </ion-card-title>    

            <img src="assets/imgs/Construction1.jpg"/>
        
            <ion-card-content>              
              <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
              </p>
            </ion-card-content>

          </ion-card>

      </ion-col>

      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>

          <ion-card padding>

              <ion-card-title>
                  Cardiff Rest Home
                </ion-card-title>      
              <img src="assets/imgs/Construction3.jpg"/>
          
              <ion-card-content>
    
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                </p>
              </ion-card-content>                    
            </ion-card>
      </ion-col>

      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>  
           
          <ion-card padding>

            <ion-card-title>
               Dagenham Dog Track
            </ion-card-title>    

            <img src="assets/imgs/Construction2.png"/>
        
            <ion-card-content>
    
              <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
              </p>

            </ion-card-content>
         
          </ion-card>
      </ion-col>
      
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
    
          <ion-card padding>
              <ion-card-title>
                  Dublin Opera House
                </ion-card-title>    
            <img src="assets/imgs/Construction4.jpg"/>
        
            <ion-card-content>
    
              <p>
                  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
              </p>
            </ion-card-content>
        
          </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>














<!--
<ion-item id="udpateBox">
  <textarea [(ngModel)]="userPostData.feed"></textarea>
  <ion-row>
    <button ion-button color="energy" (click)="feedUpdate()">Update</button>
  </ion-row>
</ion-item>

<ion-card *ngFor="let item of dataSet; let msgIndex = index">
  <ion-item>
    <ion-icon name="trash" item-right (click)="feedDelete(item.feed_id, msgIndex)"></ion-icon>
  <ion-card-content>
    
    <p [innerHTML]="item.feed | linky"></p>
    <span>{{this.converTime(item.created) | amTimeAgo}}</span>
  </ion-card-content>
  </ion-item>
</ion-card>
-->
  <!--<button ion-button color="primary" (click)="logout()">Logout</button>-->


