<ion-header>
  <ion-navbar>   
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>        
    <span style="font-size:16px;color:white;">{{userPostData.ProjectName}}</span> 
  </ion-navbar>
</ion-header>
    
<ion-content padding id="home">

  <!--<div #map id="map"></div>--> 

  <ion-row  [hidden]="userPostData.ProjectName  === null" >   
    <ion-col width-25 offset-25>
      <h2 class="location" style="margin:0px;">{{weatherCity}}</h2>
      <h2 class="description" style="margin:0px;">{{weatherDes}}</h2>
      <h2 class="temp" style="margin-top:0px;">{{weatherTemp}}&deg;&nbsp;C<br><img [src]="weatherIcon" style="width: 90px;height: 70px;margin:0px;" /></h2>
    </ion-col>      
  </ion-row>
  <br>
  <div class="box blue"  [hidden]="userPostData.ProjectName  === null">
    <b><span  style="color:white;position:relative;top:-2px;left:5px;">Recent Documents Summary</span></b>
    <ion-list  *ngFor="let item of dataSet" style="margin-bottom: 1px;">
      <ion-item>
        <table style="width:100%;">
          <tr>                
            <td style="text-align:center;"><h3>24 Hours</h3></td>
            <td style="text-align:center;"><h3>7 Days</h3></td>
            <td style="text-align:center;"><h3>30 Days</h3></td>
          </tr>
          <tr>  
            <td style="text-align:center;"><h2><span (click)="openDocumentSummary(1)" >{{item.Last24Hours}}</span></h2></td>
            <td style="text-align:center;"><h2><span (click)="openDocumentSummary(7)" >{{item.Last7Days}}</span></h2></td>
            <td style="text-align:center;"><h2><span (click)="openDocumentSummary(30)" >{{item.Last30Days}}</span></h2></td>
          </tr>
        </table>
      </ion-item>
    </ion-list> 
  </div>

  <div [hidden]="userPostData.ProjectName  !== null">
    <br>
    <h3>Please select a project.</h3>
  </div>

</ion-content>

<!--
  <div class="box blue">
    <b><span  style="text-align:center;padding:4px;">Approvals Summary</span></b>
    <ion-list  >
      <ion-item  >
        <table style="width:100%;" *ngFor="let item of dataSet1">
          <tr>
            <td style="text-align:left;" colspan="3"><h3><b><u>{{item.Process}}</u></b></h3></td>
          </tr>
          <tr>
            <td style="text-align:center;"><h3>Current</h3></td>
            <td style="text-align:center;"><h3>Due</h3></td>
            <td style="text-align:center;"><h3>OverDue</h3></td>
          </tr>
          <tr>
            <td style="text-align:center;"><h3>{{item.Intime}}</h3></td>
            <td style="text-align:center;"><h3>{{item.SoonDue}}</h3></td>
            <td style="text-align:center;"><h3>{{item.OverDue}}</h3></td>
          </tr>
        </table>
      </ion-item>
    </ion-list>
  </div>


  <br>
  <div class="box blue">
    <b><span  style="text-align:center;padding:4px;color:white;">Request For Information Summary</span></b>
    <ion-list  style="margin-bottom: 1px;" >
      <ion-item>
        <table style="width:100%;" *ngFor="let item of dataSet2">
          <tr>
            <td style="text-align:left;" colspan="4"><h3><b><u>{{item.Process}}</u></b></h3></td>
          </tr>
          <tr>  
            <td style="text-align:center;"><h3>New</h3></td>                  
            <td style="text-align:center;"><h3>In Process</h3></td>
            <td style="text-align:center;"><h3>Due</h3></td>
            <td style="text-align:center;"><h3>OverDue</h3></td>
          </tr>
          <tr>                      
            <td style="text-align:center;"><h2>{{item.New}}</h2></td>
            <td style="text-align:center;"><h2>{{item.Intime}}</h2></td>
            <td style="text-align:center;"><h2>{{item.SoonDue}}</h2></td>
            <td style="text-align:center;"><h2>{{item.OverDue}}</h2></td>
          </tr>
        </table>
      </ion-item>
    </ion-list> 
  </div>
-->

