<ion-header>
  <ion-toolbar>   
    <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>    
    <span style="font-size:16px;color:white;">{{selectedProjectName}} All Revisions &nbsp;  
      <!--<span style="font-size:12px;color:white;padding-left:5px;">{{docno1}}</span>-->
    </span>
    <ion-buttons end>
      <button ion-button style="font-size:24px;" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let document of userdocumentsinfo" col-12 col-md-6 col-lg-4 col-xl-3>
        <ion-card  ><!-- *ngIf="document.Current == 'Current'"-->
        
     

          <ion-card-content  style="margin-top:20px;" >
            <div class="col">
              <img [src]="document.PhotoTiny"  style="position:relative;top:-60px;border: 2px solid #000;transform: rotate(90deg);width: 214px;height: 304px;padding-left: 0px;margin-top: -50;margin-bottom:-80px;margin-left: 60px;"  /> <!--(click)= "openDocument(userdocumentInfoData.SystemClientID,userdocumentInfoData.SystemProjectID,document.DocumentID,document.FileExtension)"-->
            </div>  
            <ion-item *ngFor="let key of keys(document)" style = "margin-top: -15px;font-size:11px;">
              
              <ion-label style="margin-top: 0px; margin-bottom: 4px;" *ngIf="key != 'Display' && key != 'PhotoTiny' && key != 'DocumentID' && key != 'DNREV' && key != 'TI'!= 'DNREV' && key != 'FolderID'">
                <b><span  [innerHTML]="key"></span></b>&nbsp;&nbsp;
                <span  [innerHTML]="document[key]"></span>
              </ion-label>
            </ion-item>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
