<ion-header>
  <ion-toolbar>   
    <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>    
    <span style="font-size:16px;color:white;">{{selectedProjectName}} Summary: 
      <span style="font-size:16px;color:white;padding-left:5px;" [innerHTML]="docdays + ' Days'"></span>
    </span>
    <ion-buttons end>
      <button ion-button style="font-size:24px;" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>    
<ion-content style="background-color: gray;">
    <ion-grid>
        <ion-row>
            <ion-col  *ngFor="let document of userdocumentssummary" col-12 col-md-6 col-lg-4 col-xl-3>
                <ion-card>

                    <ion-card-header>
                            <img [src]="document.PhotoTiny"  style="width:100%;border:2px;" (click)= "openDocuments(userdocumentInfoData.SystemClientID,userdocumentInfoData.SystemProjectID,document.DocumentID,document.FileExtension)"/>
                    </ion-card-header> 

                    <ion-card-content  style="margin-top:10px;left:8px;width:100%; " >

                      <ion-item *ngFor="let key of keys(document)" style = "font-size:11px;min-height:0px;margin-top:3px;" text-wrap>
                        
                        <ion-label [innerHtml]="'<b>'+key+':</b> '+document[key]" *ngIf="key != 'Display' && key != '' && key != 'HasPhoto' && key != 'HasNotes' && key != 'HasVersions' && key != 'PhotoTiny' && key != 'DocumentID' && key != 'DNREV' && key != 'TI'!= 'DNREV' && key != 'FolderID'" style="margin-top: 0px; margin-bottom: 4px;" ></ion-label>
                       
                      </ion-item>

                    </ion-card-content>

<!--
                    <ion-card-content>
                        <ion-list >
                            <ion-item >
                                <b>Folder: </b><span [innerHTML]="document.FolderName"></span>
                                <br/>
                                <b>Doc No: </b><span [innerHTML]="document.DocumentNumber"></span>
                                <br/>
                                <b>Rev: </b><span [innerHTML]="document.Revision"></span>
                                <br/>
                                <b>Title: </b><span [innerHTML]="document.Title"></span>
                                <br/>
                                <b>Current: </b><span [innerHTML]="document.Latest"></span>
                                <br/>
                                <b>Designer: </b><span [innerHTML]="document.Designer"></span>
                                <br/>
                                <b>Discipline: </b><span [innerHTML]="document.Discipline"></span>
                                <br/>                               
                                <b>Status: </b><span [innerHTML]="document.Status"></span>
                                <br/>
                                <b>Doc Type: </b><span [innerHTML]="document.TypeName"></span>
                                <br/>                                
                                <b>Issue  Reason: </b><span [innerHTML]="document.IssueReason"></span>
                                <br/>
                                <b>Issue  Type: </b><span [innerHTML]="document.Type"></span>
                                <br/>
                                <b>Issue Date: </b><span [innerHTML]="document.uploadDate"></span>
                                <br/>
                                <b>Reg Date: </b><span [innerHTML]="document.intogridDate"></span>
                                <br/>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>  
                  -->
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
    