<ion-header>
  <ion-navbar>   
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>        
    <span style="font-size:16px;color:white;">{{selectedProjectName}}</span> 
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let project of userProjects" col-12 col-md-6 col-lg-4 col-xl-3 style="padding-top: 5px;padding-bottom: 0px;">
        <ion-list  style="margin-bottom: 0px;">  
          <ion-card style="min-height:80px; max-height:80px;padding-bottom: 0px;margin-top: 3px;margin-bottom: 3px;">
            <ion-item style="padding-left:3px;" (click)="saveProject(project.ProjectName,project.ProjectID,project.SystemClientID);">           
              
              <ion-thumbnail *ngIf="project.Thumbnail != null" item-left>
                <img [src]="project.Thumbnail" style="height:60px;width:70px;border:1px;" onerror="this.src='assets/imgs/project.png';"/>
              </ion-thumbnail>
             
              <h2><b>{{project.ProjectName}}</b></h2>
              <h3>{{project.Client}}</h3>
            </ion-item>
          </ion-card>
        </ion-list>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
