<ion-header>
    <ion-toolbar>    
      <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>       
      <span style="font-size:16px;color:white;">{{selectedProjectName}} Defect Details</span> 
      <ion-buttons end>
        <button ion-button style="font-size:24px;" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

    <ion-item  *ngFor="let defect1 of defect1s">
      <span class="text"><b>{{defect1.OrderReference}}</b></span>
      <br>
      <span class="text"><b>Title: </b>{{defect1.OrderSubject}}</span> 
      <br>      
      <span class="text"><b>Location: </b>{{defect1.name}}</span>  
      <br>  
      <span class="text"><b>Issued: </b>{{defect1.DateIssued  | date : 'dd MMM yyyy' }}</span>
      <br>
      <span class="text"><b>Required: </b>{{defect1.DeliverBy  | date : 'dd MMM yyyy' }}</span>
      <br>
      <span class="text"><b>Proposed: </b>{{defect1.ProposedCompletionDate  | date : 'dd MMM yyyy' }}</span>
      <br>
    </ion-item>
  
    <ion-item [hidden]="hasNotes !== 'hasNotes'" *ngFor="let defect1note of defect1snotes">
      <span class="text"><b>Note By: </b></span>
      <span class="text">{{defect1note.FirstName}}&nbsp;{{defect1note.LastName}} - {{defect1note.DateCreated | date : 'dd MMM yyyy' }}<br>{{defect1note.Note}}</span>
      <br>
    </ion-item>   
    
    <ion-item style="position:relative;top:0px;padding-left:10px;height:100px;">        
      <ion-thumbnail item-left  style="position:relative;top:0px;padding-left:5px;padding-right:10px;width: 100px;height: 50px;margin-top: 0px;margin-bottom: 0px;">
        <img [src]="image"  style="width:100px; border: 2px;border-color:black;" imageViewer>
      </ion-thumbnail>   
      &nbsp;      
      <ion-thumbnail item-left  style="position:relative;top:0px;padding-left:5px;padding-right:10px;width: 100px;height: 50px;margin-top: 0px;margin-bottom: 0px;">
        <img [src]="ImgUrl"   style="width:100px; border: 2px;border-color:black;" imageViewer>
      </ion-thumbnail>  
      &nbsp;      
     <ion-thumbnail item-left  style="position:relative;top:0px;padding-left:5px;padding-right:10px;width: 100px;height: 50px;margin-top: 0px;margin-bottom: 0px;">
        <img [src]="postUrl"   style="width:100px; border: 2px;border-color:black;" imageViewer>
      </ion-thumbnail>  
    </ion-item>      

    <ion-item>
      <ion-label class="text" style="width:20%"><b>Status</b></ion-label>
      <ion-select class="myCustomSelect" [(ngModel)]="approval" name="approval"  style="text-align:left;" >
        <ion-option class="myCustomSelect" [value] = "54">Approved</ion-option>
        <ion-option class="myCustomSelect" [value] = "53">Rejected</ion-option>
      </ion-select>
      <br><br>
    </ion-item>    

    <ion-item>
      <ion-label class="text" style="font-size:16px;font-weight:bold !important;" ><b>Notes</b></ion-label>
      <ion-textarea class="text" rows="3"  name="details" [(ngModel)]="details"  style="font-size:14px;"></ion-textarea>
    </ion-item>

    <ion-item   [hidden]="image === null" style="padding-left:3px;padding-left:3px;height: 70px;">     

      <ion-thumbnail item-left  style="padding-left:3px;padding-right: 6px;width: 90px !Important;height: 90px !Important;margin-top: 0px;margin-bottom: 0px;">
        <img [src]="this.currentImage" style="width: 90px; margin: 0; position: absolute;top: 50%;left: 0px;transform: translate(0%, -50%);" >
      </ion-thumbnail>  

      <span>

      <div> 
        <button [hidden]="currentImage !== null"  start style="width:100%;height:100%;" ion-button (click)="addimage('add')">
          <br/><br/>Take Defect Picture<br/><br/><br/>
        </button>
      </div> 
        
      <ion-row [hidden]="currentImage === null"  >
        <ion-col style="width:50%;padding-left:0px;">
          <div style="width:100%;">  
            <button  start style="width:100%;height:100%;margin-left:0px;" ion-button (click)="addimage('add')">
              <br/>Take<br>Defect<br>Picture<br/><br/>
            </button>
          </div> 
        </ion-col>
        <ion-col style="width:50%;padding-right:0px;">
          <div style="width:100%;">  
            <button  end style="width:100%;height:100%;margin-right:0px;" ion-button (click)="addimage('edit')">
              <br/>Edit<br>Defect<br>Picture<br/><br/>
            </button> 
          </div> 
        </ion-col>
      </ion-row>

    </span>        
  </ion-item>  


  <div [hidden]="currentImage === null"  style="width:100%;">
    <br>
    <ion-buttons  style="width:100%" >
      <button style="width:100%;" ion-button icon-left (click)="sendUploadData()" >
        <ion-icon name="cloud-upload"></ion-icon>Upload Review
      </button>
    </ion-buttons>
  </div>

</ion-content>
