  <ion-header>
    <ion-toolbar>    
      <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>       
      <span style="font-size:16px;color:white;">{{selectedProjectName}} Fixed / Awaiting Inspection</span> 
      <ion-buttons end>
        <button ion-button style="font-size:24px;" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

    <ion-card  style="margin-top: 0px;padding-bottom: 15px;margin-bottom: 12px;">
      <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
      Distribution
      </ion-card-header>
      <ion-card-content *ngFor="let defect1dist of defect1s" style="border-left: 10px; border-color: #201547">
          <span style="font-size:13px;font-weight:bold !important;width:100px;" ><b>Created By: </b></span>
          <span class="mytext">{{defect1dist.OwnerEmail}}</span>
          <br>
          <span style="font-size:13px;font-weight:bold !important;width:100px;" ><b>Inspector: </b></span>
          <span class="mytext">{{defect1dist.InspectorEmail}}</span>
          <br>
          <span style="font-size:13px;font-weight:bold !important;width:100px;" ><b>Remediator: </b></span>
          <span class="mytext">{{defect1dist.SubbyEmail}}</span>
          <br>   
          <span style="font-size:13px;font-weight:bold !important;width:100px;" ><b>Commercial: </b></span>
          <span class="mytext">{{defect1dist.QSEmail}}</span>               
      </ion-card-content>
    </ion-card> 






    <ion-card> 

    <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
      Details
    </ion-card-header> 

    <ion-card-content *ngFor="let defect1 of defect1s" style="padding-bottom: 0px;">

      <span [hidden]="defect1.OrderStatusText != 'Not Sent Yet'"        class="notsent" style="width:100%;">{{defect1.OrderStatusText}}<br></span>
      <span [hidden]="defect1.OrderStatusText != 'Sent'"                class="new" style="width:100%;">{{defect1.OrderStatusText}}<br></span>
      <span [hidden]="defect1.OrderStatusText != 'Defect Fix Date Set'" class="fix" style="width:100%;">{{defect1.OrderStatusText}}<br></span>
      <span [hidden]="defect1.OrderStatusText != 'Defect Fixed'"        class="fixed" style="width:100%;">{{defect1.OrderStatusText}}<br></span>
      <span [hidden]="defect1.OrderStatusText != 'Inspection Date Set'" class="inspect" style="width:100%;">{{defect1.OrderStatusText}}<br></span>
      <span [hidden]="defect1.OrderStatusText != 'Inspection Passed'"   class="pass" style="width:100%;">{{defect1.OrderStatusText}}<br></span>
      <span [hidden]="defect1.OrderStatusText != 'Inspection Failed'"   class="fail" style="width:100%;">{{defect1.OrderStatusText}}<br></span>

      <span style="font-size:13px;font-weight:bold !important;width:100px;" >Reference: </span>
      <span class="mytext">{{defect1.OrderReference}}</span>
      <br>
      <span class="text"><b>Title: </b>{{defect1.OrderSubject}}</span> 
      <br>      
      <span class="text"><b>Location: </b>{{defect1.name}}</span>  
      <br><br>

      <div [hidden]="defect1.DateIssued == '' || defect1.DateIssued == null">
      <span style="font-size:13px;font-weight:bold !important;width:100px;" >Issued / Required Date: </span>
      <span class="text">{{defect1.DateIssued}} / {{defect1.DeliverBy}}</span>  
      <br>         
      </div>
      <div [hidden]="defect1.SpecialInstructions == '' || defect1.SpecialInstructions == null">
      <span class="text" [innerHTML]="defect1.SpecialInstructions" style="background-color:#e8e8e8"></span>
      <br>
      </div>

      <div [hidden]="defect1.ProposedCompletionDate == '' || defect1.ProposedCompletionDate == null">
      <span style="font-size:13px;font-weight:bold !important;width:100px;" >Proposed Fix Date: </span>
      <span class="text">{{defect1.ProposedCompletionDate}}</span> 
      <br>         
      <span class="text" [innerHTML]="defect1.ProposedCompletionDateTxt" style="background-color:#e8e8e8"></span>
      <br>
      </div>

      <div [hidden]="defect1.EndFixDate == '' || defect1.EndFixDate == null"> 
      <span style="font-size:13px;font-weight:bold !important;width:100px;" >Fixed Date: </span>
      <span class="text">{{defect1.EndFixDate}}</span>   
      <br>          
      <span class="text" [innerHTML]="defect1.EndFixDateTxt" style="background-color:#e8e8e8"></span>
      <br>
      </div>

      <div [hidden]="defect1.ScheduledInspectionDate == '' || defect1.ScheduledInspectionDate == null"> 
      <span style="font-size:13px;font-weight:bold !important;width:100px;" >Proposed Inspection Date: </span>
      <span class="text">{{defect1.ScheduledInspectionDate}}</span>   
      <br>          
      <span class="text" [innerHTML]="defect1.ScheduledInspectionDateTxt" style="background-color:#e8e8e8"></span>
      <br>
      </div>

      <div [hidden]="defect1.CloseDate == '' || defect1.CloseDate == null">
      <span style="font-size:13px;font-weight:bold !important;width:100px;" >Closed Date: </span>
      <span class="text">{{defect1.CloseDate}}</span>   
      <br>          
      <span class="text" [innerHTML]="defect1.CloseDateTxt" style="background-color:#e8e8e8"></span>
      <br>
      </div>
      <br>

    </ion-card-content>
  </ion-card>   

  <ion-card> 
    <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
      Location Image
    </ion-card-header> 
    <ion-card-content >
      <ion-item style="position:relative;top:0px;">               
        <ion-thumbnail item-left  style="position:relative;top:0px;width: 100%;">
          <img [src]="image"  style="width: 100%; height:100%;border: 1px solid #000;" imageViewer>
        </ion-thumbnail>
      </ion-item>
    </ion-card-content>
  </ion-card>



  <ion-card> 
    <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
      Defect Image
    </ion-card-header> 
    <ion-card-content >
      <ion-item style="position:relative;top:0px;"> 
        <ion-thumbnail item-left  style="position:relative;top:0px;width: 100%;">
          <img [src]="ImgUrl" style="width: 100%; height:100%;border: 1px solid #000;"imageViewer>
        </ion-thumbnail>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card> 
    <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
      Fixed Image
    </ion-card-header> 
    <ion-card-content >        
      <ion-item style="position:relative;top:0px;">           
        <ion-thumbnail item-left  style="position:relative;top:0px;width: 100%;">
          <img [src]="postUrl"  style="width: 100%; height:100%;border: 1px solid #000;" imageViewer>
        </ion-thumbnail>
      </ion-item>
    </ion-card-content>
  </ion-card>
         


  <ion-card  [hidden]= 'this.passedfailed != "true"'> 
    <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
      Final Inspection Image
    </ion-card-header> 
    <ion-card-content >        
      <ion-item style="position:relative;top:0px;"> 
        <ion-thumbnail item-left style="position:relative;top:0px;width: 100%;"  >
          <img [src]="fixedUrl" style="width: 100%; height:100%;border: 1px solid #000;"imageViewer>
        </ion-thumbnail>
      </ion-item>
    </ion-card-content>
  </ion-card>




<!-- 
    <div>  

      <ion-item style="position:relative;top:0px;padding-left:10px;height:110px;width:320px;"> 
        <ion-thumbnail item-left  style="position:relative;top:0px;padding-left:5px;padding-right:5px;width: 150px;height: 105px;margin: 0px;">
          <img [src]="image"  style="min-width: 150px;min-height: 105px; border: 1px solid #000;" imageViewer>
        </ion-thumbnail>
            &nbsp;&nbsp;
        <ion-thumbnail item-left  style="position:relative;top:0px;padding-left:5px;padding-right:5px;width: 150px;height: 105px;margin: 0px;">
          <img [src]="ImgUrl" style="margin-left:10px;min-width: 150px;min-height: 105px; border: 1px solid #000;"imageViewer>
        </ion-thumbnail>
      </ion-item>
      
      <ion-item style="position:relative;top:0px;padding-left:10px;height:110px;width:320px;"> 
        <ion-thumbnail item-left  style="position:relative;top:0px;padding-left:5px;padding-right:5px;width: 150px;height: 105px;margin: 0px;">
          <img [src]="postUrl"  style="min-width: 150px;min-height: 105px; border: 1px solid #000;" imageViewer>
        </ion-thumbnail>
            &nbsp;&nbsp;
        <ion-thumbnail item-left [hidden]= 'this.passedfailed != "true"' style="position:relative;top:0px;padding-left:5px;padding-right:5px;width: 150px;height: 105px;margin: 0px;">
          <img [src]="fixedUrl" style="margin-left:10px;min-width: 150px;min-height: 105px; border: 1px solid #000;"imageViewer>
        </ion-thumbnail>
      </ion-item>

    </div>
  -->

  





<ion-card  [hidden]="this.note == 'note' || this.passedfailed == 'true'"  style="margin-top: 0px;padding-bottom: 15px;margin-bottom: 12px;">
  <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
    Form
  </ion-card-header> 
  <ion-card-content> 

    <ion-item>
      <ion-label class="text" style="width:20%"><b>Status</b></ion-label>
      <ion-select class="myCustomSelect" [(ngModel)]="approval" name="approval"  style="text-align:left;" >
        <ion-option class="myCustomSelect" [value] = "54">Approved</ion-option>
        <ion-option class="myCustomSelect" [value] = "55">Rejected</ion-option>
      </ion-select>
      <br><br>
    </ion-item>    

    <ion-item>
      <ion-label class="text" style="font-size:16px;font-weight:bold !important;" ><b>Notes</b></ion-label>
      <ion-textarea class="text" rows="3"  name="details" [(ngModel)]="details"  style="font-size:13px;background-color:#f2f2f2;"></ion-textarea>
      <br><br>
    </ion-item>
    <br>
    <ion-item   [hidden]="image === null" style="padding-left:3px;padding-left:3px;height: 70px;">     

      <ion-thumbnail item-left  style="padding-left:3px;padding-right: 6px;width: 90px !Important;height: 90px !Important;margin-top: 0px;margin-bottom: 0px;">
        <img [src]="this.currentImage" style="width: 90px; margin: 0; position: absolute;top: 50%;left: 0px;transform: translate(0%, -50%);" >
      </ion-thumbnail>  

      <span>

      <div> 
        <button [hidden]="currentImage !== null"  start style="width:100%;height:100%;" ion-button (click)="addimage('add')">
          <br/><br/>Take inspect Picture<br/><br/><br/>
        </button>
      </div> 
        
      <ion-row [hidden]="currentImage === null"  >
        <ion-col style="width:50%;padding-left:0px;">
          <div style="width:100%;">  
            <button  start style="width:100%;height:100%;margin-left:0px;" ion-button (click)="addimage('add')">
              <br/>Take<br>inspect<br>Picture<br/><br/>
            </button>
          </div> 
        </ion-col>
        <ion-col style="width:50%;padding-right:0px;">
          <div style="width:100%;">  
            <button  end style="width:100%;height:100%;margin-right:0px;" ion-button (click)="addimage('edit')">
              <br/>Edit<br>inspect<br>Picture<br/><br/>
            </button> 
          </div> 
        </ion-col>
      </ion-row>
 
    </span>        
  </ion-item>  
</ion-card-content>
</ion-card>









<ion-card  [hidden]="this.note == 'nonote'" style="margin-top: 0px;padding-bottom: 15px;margin-bottom: 12px;"> 
      
  <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
    Form
  </ion-card-header> 

  <ion-card-content>   
    <div>
    <ion-item style="padding-left:0px;">
      <ion-label class="mylabel" style="font-size:15px;font-weight:bold !important;" ><b>Note</b></ion-label>
      <ion-textarea class="mytext" rows="5"  name="newnote" [(ngModel)]="newnote"  style="font-size:13px;background-color:#f2f2f2;"></ion-textarea>
    </ion-item>   
  </div>
  <br>     
    <div>
      <ion-buttons >
        <button full ion-button icon-left (click)="uploadNote()" >
          <ion-icon name="cloud-upload"></ion-icon>Add New Note
        </button>
      </ion-buttons>
    </div>

  </ion-card-content>

</ion-card> 









  <ion-card  [hidden]="hasNotes !== 'hasNotes'" style="margin-top: 0px;padding-bottom: 15px;margin-bottom: 12px;">
    <ion-card-header style="padding-left: 0px;padding-bottom: 3px;padding-top: 0px;">
    Notes
    </ion-card-header>
    <ion-card-content *ngFor="let defect1note of defect1snotes" style="border-left: 10px; border-color: #201547">
        <span style="font-size:13px;font-weight:bold !important;width:100px;" >Note By: </span>
        <span class="mytext"><B>{{defect1note.FirstName}}&nbsp;{{defect1note.LastName}} - {{defect1note.DateCreated  | date : 'dd MMM yyyy' }}</B><br>{{defect1note.Note}}</span>
        <br>
    </ion-card-content>
  </ion-card> 




  
</ion-content>

<ion-footer  >
  <div>
    <ion-buttons >
      <button full [disabled]="showUpload === null" ion-button icon-left (click)="sendUploadData()" >
        <ion-icon name="cloud-upload"></ion-icon>Upload Inspected Image
      </button>
    </ion-buttons>
  </div>
</ion-footer>  
