<ion-header>
  <ion-toolbar>   
    <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>    
    <span style="font-size:16px;color:white;">{{selectedProjectName}} Inspection Request</span>
  </ion-toolbar>

  <div style='padding: 10px;' [hidden]="this.isinspector == 0">   
    <ion-segment color="primary"  mode='ios' [(ngModel)]="defectslist" (ionChange)="segmentChanged(defectslist)">
      <ion-segment-button value="inspect" >
        <b>New Inspections</b>
      </ion-segment-button>
      <ion-segment-button value="failed" >
        <b>Failed</b>
      </ion-segment-button>
      <ion-segment-button value="approved" >
        <b>Approved</b>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div style='padding: 10px;' [hidden]="this.isinspector != 0">   
    <ion-segment color="primary"   mode='ios' [(ngModel)]="subdefectslist" (ionChange)="segmentChangedsub(subdefectslist)">
      <ion-segment-button value="submit" >
        <b>Submit</b>
      </ion-segment-button>
      <ion-segment-button value="fix" >
        <b>Fix</b>
      </ion-segment-button>
      <ion-segment-button value="passed" >
        <b>Passed</b>
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>                  
      <ion-col  col-12 col-md-6 col-lg-4 col-xl-3 style="padding-top: 5px;padding-bottom: 0px;">
        <ion-list *ngFor="let request of inspectionrequests" class="small-list"  style="margin: 0px; padding-left:3px;padding-right:3px;">         
          <ion-card style="border-top: 0px solid #ffffff !important;position:relative;top:10px;min-height:50px; max-height:500px;padding-bottom: 0px;margin-top: 3px;margin-bottom: 3px;">
            <ion-item>  

            <div style="padding:0px;padding-left:3px;font-size:1.2 em;"  (click)="showtheform(request.ParentFormID,request.FormID,request.LID1,request.LID2,request.LID3,request.LID4,request.Template,this.who)">  

              <div [hidden]="this.isinspector == 0"><h3><b>{{request.FormName}}{{request.Form_Name}} - {{request.FormNumber}}</b></h3></div> 
              <div [hidden]="this.isinspector == 0"><h3><b>Location: {{request.LocationText}}</b></h3></div> 
              <div [hidden]="this.isinspector == 0"><h4>{{request.PackageTitleValue}} Package</h4></div>             
              <div [hidden]="this.isinspector == 0"><h4>Contractor: {{request.SubcontractorValue}}</h4></div> 
              <!--<div [hidden]="this.isinspector == 0" *ngIf="request.daydiff < 0 && request.who != 'subi'" style="color:red;float:left;"><h4><b>Due: {{request.reqdate | date : 'dd MMM yy'}}&nbsp;Overdue.</b></h4></div>-->   
              <div [hidden]="this.isinspector == 0 || this.who == 'subi'"><h4>Due: {{request.reqdate | date : 'dd MMM yy'}}</h4></div>  

              
              <div [hidden]="this.isinspector != 0"><h3><b>{{request.FormName}}{{request.Form_Name}} - {{request.FormNumber}}</b></h3></div>   
              <div [hidden]="this.isinspector != 0"><h3><b>Location: {{request.LocationText}}</b></h3></div>       
              <div [hidden]="this.isinspector != 0"><h4>{{request.PackageTitleValue}} Package ({{request.ExpectedForms}} expected)</h4></div>
              <div [hidden]="this.isinspector != 0"><h4>Inspector: {{request.Fname}} {{request.Lname}}</h4></div> 
              <!--<div [hidden]="this.isinspector != 0" *ngIf="request.daydiff < 0 && request.who != 'subi'" style="color:red;float:left;"><h4><b>Due: {{request.reqdate | date : 'dd MMM yy'}}&nbsp;Overdue.</b></h4></div>    
              <div [hidden]="this.isinspector != 0 || request.who == 'subi'"><h4>Due: {{request.reqdate | date : 'dd MMM yy'}}</h4></div> -->               
            
            </div> 

            </ion-item>  
          </ion-card> 
        </ion-list>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--          <ion-card style="min-height:50px; max-height:100px;padding-bottom: 0px;margin-top: 3px;margin-bottom: 3px;">
            <ion-item style="padding-left:3px;"  (click)="showtheform(request.FormID)">                      
              <h2><b>{{request.FormName}} - {{request.FormNumber}}</b></h2>
              <h3>{{request.PackageTitleValue}} Package</h3>
              <h3>Inspection Timeframe {{request.InspectionTimeFrame}}</h3>
              <h3 style="color:rgb(88, 88, 158);">Request ID {{request.FormID}}</h3>              
            </ion-item>
          </ion-card>
          <ion-card style="padding-bottom: 0px;margin-top: 3px;margin-bottom: 3px;">
            <ion-item *ngFor="let requestdata of inspectionrequestsdata" style="padding-left:3px;">                      
              {{requestdata.ItemNumber}} - {{requestdata.ItemText}}
            </ion-item>
          </ion-card> 
-->
