<ion-header>
  <ion-toolbar>      
    <button ion-button menuToggle start><ion-icon name="menu"></ion-icon></button>     
    <span style="font-size:16px;color:white;padding-left:15px;">Edit Location Image</span> 
    <ion-buttons end>
        <button ion-button (click)="save()" >Save</button>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas id="drawing-container"></canvas>
</ion-content>

<!-- In footer we added settings -->
<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-buttons  color="primary">

      <div *ngIf="drawingEnabled">

        <button ion-button (click)="openColorsPopover($event)" icon-only>
          <ion-icon name="color-palette" style="color:gray"></ion-icon>
        </button>

        <button ion-button (click)="openWidthsPopover($event)" icon-only>
          <ion-icon name="options" style="color:gray"></ion-icon>
        </button>
<!--
        <button ion-button (click)="openTypesPopover($event)" icon-only>
          <ion-icon name="brush" style="color:gray"></ion-icon>
        </button>
      -->
        <button ion-button (click)="addText()" icon-only>
          <ion-icon name="text" style="color:gray"></ion-icon>
        </button>

        <button ion-button (click)="addImage()" icon-only>
          <ion-icon name="camera" style="color:gray"></ion-icon>
        </button>
<!--  
        <button ion-button (click)="addImageUrl()" icon-only>
          <ion-icon name="camera" style="color:blue"></ion-icon>
        </button>

      <button ion-button (click)="addBackground()" icon-only>
          <ion-icon name="image"></ion-icon>
        </button>-->


        <button ion-button (click)="undo()" icon-only>
          <ion-icon name="undo"></ion-icon>
        </button>
      </div>

      <div *ngIf="!drawingEnabled">
        <button ion-button (click)="ok()">
          OK
        </button>
        
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
